.hud-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.controls {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff9f61;
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: indigo;
  font-size: 32px;
  font-family: "Press Start 2P";
}

.left-button {
  left: 50px;
}

.right-button {
  right: 50px;
}
